@using PetCenter.Referencias.Presentacion.Web.Resources
@using PetCenter.Referencias.Presentacion.Web.Helpers.Html
@model PetCenter.Referencias.Presentacion.Web.Models.Registros.Convenio.ConvenioEditorModelo

<fieldset>
    <legend class="text-muted h5">Servicios Solicitados</legend>
    <br />
    <div class="asistencia-right asistencia-point">
        <a class="glyphicon glyphicon-plus-sign" title="@Botones.BtnAgregar" onclick="conveniojs.agregaServicio();">
        </a>
        <a class="glyphicon glyphicon-minus-sign" title="@Botones.BtnQuitar" onclick="conveniojs.quitaServicio();"></a>
    </div>

</fieldset>

<table class="table table-striped table-bordered table-condensed asistencia-table-grid" id="tab-servicios">
    <thead>
        <tr class="asistencia-head">
            <th scope="col">Servicio</th>
            <th scope="col">Dsto.</th>
            <th scope="col">Base</th>
            <th scope="col">Real</th>
            <th scope="col">Sel.</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>