@using PetCenter.Referencias.Presentacion.Web.Resources
@using PetCenter.Referencias.Presentacion.Web.Helpers.Html
@model PetCenter.Referencias.Presentacion.Web.Models.Registros.Convenio.ConvenioEditorModelo

<div class="asistencia-group">
    <div class="col-sm-6">
        <div class="table-responsive">
            @Html.Partial("_GridServicio")
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="table-responsive">
            @Html.Partial("_GridDescuento")
        </div>
    </div>
</div>