<div class="row-fluid">
    <div class="col-sm-12 text-center footer">
        <div class="copyright">
            <p>
                © Copyright 2017 Petcenter
            </p>
        </div>
    </div>
</div>

@*<footer class="container-fluid text-center">
    <p>© Copyright 2017 Petcenter</p>
</footer>*@