<div class="row-fluid">
    <div class="col-sm-12 text-center footer">
        <div class="copyright">
            <p>
                Copyright © 2017 Pet Center - Todos los Derechos Reservados
            </p>
        </div>
    </div>
</div>

