@{
    Layout = "~/Views/Comun/Inicio/_Estructura.cshtml";
}

<div class="text-center">
    <img src="~/Resources/Sitio/imgs/NoAutorizado.png" />    
</div>
<div class="text-center">
    <span>No tiene acceso a esta opción</span>
</div>