@using PetCenter.Referencias.Presentacion.Web.Helpers

@{
    Layout = "~/Views/Comun/Inicio/_Estructura.cshtml";
}
<div class="row-fluid">
    @*<div class="lead col-sm-2 logoAsistencia" >
        <img src="~/Resources/Sitio/imgs/logoPetCenter.png" alt="Pet Center" />
    </div>*@
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

    });
</script>
